// Variables 
$primary: #0722A1;
$secondary: #A18607;

* {
  font-family: 'Lora', serif;
}

.navbar {
  background-color: $primary;
  color: $secondary;
  .nav-link{
    text-decoration: none;
    color: white;
    &:hover{
      color: $secondary;
    }
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: lighten($primary, 40%);
  flex-grow: 1;
}

.btn-main{
      background-color: #A18607;
      margin-top: 20px;
      &:hover{
        background-color: lighten($secondary, 10%);
      }
    }

// Hero Page 
.hero-page{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url(../images/Illustration-Library-of-Alexandria-Egypt.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    .hero{
      background-color: rgba(0, 0, 0, 0.6);
      padding: 50px 100px;
      border-radius: 18px;
      
    }
    

    input{
      width: 70%;
    }
}

.index-page{
  h1{
    margin-bottom: 25px;
    span{
      margin-left: 10px;
      color: white;
    }
  }
  .loading-container{
    margin-top: 200px;
    height: 200px;
    background-image: url(../images/books.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }
}

//Book Card 
.book-card, .loading-card{
  .card{
    border: none;
    border-radius: 8px;
  }
  .card-image{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #0722A1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .card-body{
    background-color: $secondary;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
  }
}

// Single Page 
.single-page{
  div {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

//Loading card 
.loading-card {
  .card-image{
    height: 300px;
    background-image: url(../images/books.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;
  }
  .card-body{
    border-radius: 8px;
  }
  p{
    text-align: center;
  }
}