// Variables 
$primary: #0722A1;
$secondary: #A18607;

.navbar {
  background-color: $primary;
  color: $secondary;
  .nav-link{
    text-decoration: none;
    color: white;
    &:hover{
      color: $secondary;
    }
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-color: lighten($primary, 40%);
  flex-grow: 1;
}

.btn-main{
      background-color: #A18607;
      margin-top: 20px;
      &:hover{
        background-color: lighten($secondary, 10%);
      }
    }

// Hero Page 
.hero-page{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
    .hero{
      background-color: $primary;
      padding: 50px 100px;
      border-radius: 18px;
    }
    

    input{
      width: 70%;
    }
}

.index-page{
  h1{
    margin-bottom: 25px;
  }
}

//Book Card 
.book-card{
  .card{
    border: none;
    border-radius: 8px;
  }
  .card-image{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #0722A1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .card-body{
    background-color: $secondary;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
  }
}

// Single Page 
.single-page{
  div {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
